body{
   background-color:rgb(165, 165, 103);
}
.square{
    border-radius: 100px;
    width:30%;
    padding-bottom: 30%;
    background:palegreen;
    float:left;
    margin:1.66%;
    
}
#container{
    margin:0 auto 0 auto;
    max-width:600px;
   
}
h1{
    color:white;
    margin:0 auto;
    max-width:600px;
    text-align: center;
}
h2{
    color:white;
    margin:0 auto;
    max-width:600px;
    text-align: center;
}
.selected{
  background-color:blue;
}
